name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler
      - name: Check formatting
        run: cargo fmt --all -- --check
        working-directory: ${{ github.workspace }}
      - name: Clippy
        run: cargo clippy --workspace --all-targets -- -D warnings
        working-directory: ${{ github.workspace }}
      - name: Build
        run: cargo build --workspace --all-targets
        working-directory: ${{ github.workspace }}
      - name: Run tests
        run: cargo test --workspace --all-targets
        working-directory: ${{ github.workspace }}
      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v4
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-git-${{ hashFiles('**/Cargo.lock') }}
      - name: Build Python bindings
        run: |
          pip install maturin
          maturin build --manifest-path pyigloo/Cargo.toml
        working-directory: ${{ github.workspace }}
      - name: Test Python bindings
        run: |
          pip install pytest
          pytest pyigloo
        working-directory: ${{ github.workspace }}